---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/caspg/gh_fasterer/contents/lib/gh_fasterer.rb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1442426433'
      Last-Modified:
      - Tue, 08 Sep 2015 19:35:41 GMT
      Etag:
      - W/"bf80726bfeed8137b6e2857717dd9820"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '{"name":"gh_fasterer.rb","path":"lib/gh_fasterer.rb","sha":"890b7b75eac34c3e9cc2a705d2015a6b9ec70f67","size":80,"url":"https://api.github.com/repos/caspg/gh_fasterer/contents/lib/gh_fasterer.rb?ref=master","html_url":"https://github.com/caspg/gh_fasterer/blob/master/lib/gh_fasterer.rb","git_url":"https://api.github.com/repos/caspg/gh_fasterer/git/blobs/890b7b75eac34c3e9cc2a705d2015a6b9ec70f67","download_url":"https://raw.githubusercontent.com/caspg/gh_fasterer/master/lib/gh_fasterer.rb","type":"file","content":"cmVxdWlyZSAnZ2hfZmFzdGVyZXIvdmVyc2lvbicKCm1vZHVsZSBHaEZhc3Rl\ncmVyCiAgIyBZb3VyIGNvZGUgZ29lcyBoZXJlLi4uCmVuZAo=\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/caspg/gh_fasterer/contents/lib/gh_fasterer.rb?ref=master","git":"https://api.github.com/repos/caspg/gh_fasterer/git/blobs/890b7b75eac34c3e9cc2a705d2015a6b9ec70f67","html":"https://github.com/caspg/gh_fasterer/blob/master/lib/gh_fasterer.rb"}}'
  recorded_at: Wed, 16 Sep 2015 17:01:03 GMT
recorded_with: VCR 2.9.0
