---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/caspg/gh_fasterer/contents/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '52'
      X-Ratelimit-Reset:
      - '1442422156'
      Last-Modified:
      - Tue, 08 Sep 2015 17:55:30 GMT
      Etag:
      - W/"1ae6d4c1f3009d3d85be59cf59e417f5"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '[{"name":".gitignore","path":".gitignore","sha":"0cb6eeb0676e0d425ed7ddc8b444bb8bbb9a9797","size":87,"url":"https://api.github.com/repos/caspg/gh_fasterer/contents/.gitignore?ref=master","html_url":"https://github.com/caspg/gh_fasterer/blob/master/.gitignore","git_url":"https://api.github.com/repos/caspg/gh_fasterer/git/blobs/0cb6eeb0676e0d425ed7ddc8b444bb8bbb9a9797","download_url":"https://raw.githubusercontent.com/caspg/gh_fasterer/master/.gitignore","type":"file","_links":{"self":"https://api.github.com/repos/caspg/gh_fasterer/contents/.gitignore?ref=master","git":"https://api.github.com/repos/caspg/gh_fasterer/git/blobs/0cb6eeb0676e0d425ed7ddc8b444bb8bbb9a9797","html":"https://github.com/caspg/gh_fasterer/blob/master/.gitignore"}},{"name":".rspec","path":".rspec","sha":"8c18f1abdd4147f400c02b45e57297449ae4bc43","size":31,"url":"https://api.github.com/repos/caspg/gh_fasterer/contents/.rspec?ref=master","html_url":"https://github.com/caspg/gh_fasterer/blob/master/.rspec","git_url":"https://api.github.com/repos/caspg/gh_fasterer/git/blobs/8c18f1abdd4147f400c02b45e57297449ae4bc43","download_url":"https://raw.githubusercontent.com/caspg/gh_fasterer/master/.rspec",[...]
