---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/caspg/fasterer-github/contents/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '50'
      X-Ratelimit-Reset:
      - '1442426433'
      Last-Modified:
      - Tue, 08 Sep 2015 17:55:30 GMT
      Etag:
      - W/"1ae6d4c1f3009d3d85be59cf59e417f5"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '[{"name":".gitignore","path":".gitignore","sha":"0cb6eeb0676e0d425ed7ddc8b444bb8bbb9a9797","size":87,"url":"https://api.github.com/repos/caspg/fasterer-github/contents/.gitignore?ref=master","html_url":"https://github.com/caspg/fasterer-github/blob/master/.gitignore","git_url":"https://api.github.com/repos/caspg/fasterer-github/git/blobs/0cb6eeb0676e0d425ed7ddc8b444bb8bbb9a9797","download_url":"https://raw.githubusercontent.com/caspg/fasterer-github/master/.gitignore","type":"file","_links":{"self":"https://api.github.com/repos/caspg/fasterer-github/contents/.gitignore?ref=master","git":"https://api.github.com/repos/caspg/fasterer-github/git/blobs/0cb6eeb0676e0d425ed7ddc8b444bb8bbb9a9797","html":"https://github.com/caspg/fasterer-github/blob/master/.gitignore"}},{"name":".rspec","path":".rspec","sha":"8c18f1abdd4147f400c02b45e57297449ae4bc43","size":31,"url":"https://api.github.com/repos/caspg/fasterer-github/contents/.rspec?ref=master","html_url":"https://github.com/caspg/fasterer-github/blob/master/.rspec","git_url":"https://api.github.com/repos/caspg/fasterer-github/git/blobs/8c18f1abdd4147f400c02b45e57297449ae4bc43","download_url":"https://raw.githubusercontent.com/caspg/fasterer-gi[...]
- request:
    method: get
    uri: https://api.github.com/repos/caspg/fasterer-github/contents/.gitignore
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1442426433'
      Last-Modified:
      - Tue, 08 Sep 2015 19:35:41 GMT
      Etag:
      - W/"bc99a1c0d8b24e1bae45a98786856bac"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '{"name":".gitignore","path":".gitignore","sha":"0cb6eeb0676e0d425ed7ddc8b444bb8bbb9a9797","size":87,"url":"https://api.github.com/repos/caspg/fasterer-github/contents/.gitignore?ref=master","html_url":"https://github.com/caspg/fasterer-github/blob/master/.gitignore","git_url":"https://api.github.com/repos/caspg/fasterer-github/git/blobs/0cb6eeb0676e0d425ed7ddc8b444bb8bbb9a9797","download_url":"https://raw.githubusercontent.com/caspg/fasterer-github/master/.gitignore","type":"file","content":"Ly5idW5kbGUvCi8ueWFyZG9jCi9HZW1maWxlLmxvY2sKL195YXJkb2MvCi9j\nb3ZlcmFnZS8KL2RvYy8KL3BrZy8KL3NwZWMvcmVwb3J0cy8KL3RtcC8K\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/caspg/fasterer-github/contents/.gitignore?ref=master","git":"https://api.github.com/repos/caspg/fasterer-github/git/blobs/0cb6eeb0676e0d425ed7ddc8b444bb8bbb9a9797","html":"https://github.com/caspg/fasterer-github/blob/master/.gitignore"}}'
  recorded_at: Wed, 16 Sep 2015 17:26:28 GMT
- request:
    method: get
    uri: https://api.github.com/repos/caspg/fasterer-github/contents/.rspec
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '48'
      X-Ratelimit-Reset:
      - '1442426433'
      Last-Modified:
      - Tue, 08 Sep 2015 [...]
- request:
    method: get
    uri: https://api.github.com/repos/caspg/fasterer-github/contents/.travis.yml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '47'
      X-Ratelimit-Reset:
      - '1442426433'
      Last-Modified:
      - Tue, 08 Sep [...]
- request:
    method: get
    uri: https://api.github.com/repos/caspg/fasterer-github/contents/Gemfile
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '46'
      X-Ratelimit-Reset:
      - '1442426433'
      Last-Modified:
      - Tue, 08 Sep 2015[...]
- request:
    method: get
    uri: https://api.github.com/repos/caspg/fasterer-github/contents/LICENSE.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '45'
      X-Ratelimit-Reset:
      - '1442426433'
      Last-Modified:
      - Tue, 08 Sep [...]
- request:
    method: get
    uri: https://api.github.com/repos/caspg/fasterer-github/contents/README.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '44'
      X-Ratelimit-Reset:
      - '1442426433'
      Last-Modified:
      - Tue, 08 Sep 20[...]
- request:
    method: get
    uri: https://api.github.com/repos/caspg/fasterer-github/contents/Rakefile
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '43'
      X-Ratelimit-Reset:
      - '1442426433'
      Last-Modified:
      - Tue, 08 Sep 201[...]
- request:
    method: get
    uri: https://api.github.com/repos/caspg/fasterer-github/contents/fasterer-github.gemspec
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '42'
      X-Ratelimit-Reset:
      - '1442426433'
      Last-Modified:
      - [...]
- request:
    method: get
    uri: https://api.github.com/repos/caspg/fasterer-github/contents/lib
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '41'
      X-Ratelimit-Reset:
      - '1442426433'
      Last-Modified:
      - Tue, 08 Sep 2015 17:[...]
- request:
    method: get
    uri: https://api.github.com/repos/caspg/fasterer-github/contents/lib/fasterer-github.rb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '40'
      X-Ratelimit-Reset:
      - '1442426433'
      Last-Modified:
      - T[...]
- request:
    method: get
    uri: https://api.github.com/repos/caspg/fasterer-github/contents/lib/fasterer-github
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '39'
      X-Ratelimit-Reset:
      - '1442426433'
      Last-Modified:
      - Tue,[...]
- request:
    method: get
    uri: https://api.github.com/repos/caspg/fasterer-github/contents/lib/fasterer-github/api_wrapper.rb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '38'
      X-Ratelimit-Reset:
      - '1442426433'
      Last-Modifie[...]
- request:
    method: get
    uri: https://api.github.com/repos/caspg/fasterer-github/contents/lib/fasterer-github/version.rb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '37'
      X-Ratelimit-Reset:
      - '1442426433'
      Last-Modified:
 [...]
- request:
    method: get
    uri: https://api.github.com/repos/caspg/fasterer-github/contents/spec
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '36'
      X-Ratelimit-Reset:
      - '1442426433'
      Last-Modified:
      - Tue, 08 Sep 2015 17[...]
- request:
    method: get
    uri: https://api.github.com/repos/caspg/fasterer-github/contents/spec/fasterer-github
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '35'
      X-Ratelimit-Reset:
      - '1442426433'
      Last-Modified:
      - Tue[...]
- request:
    method: get
    uri: https://api.github.com/repos/caspg/fasterer-github/contents/spec/fasterer-github/api_wrapper_spec.rb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '34'
      X-Ratelimit-Reset:
      - '1442426433'
      Last-M[...]
- request:
    method: get
    uri: https://api.github.com/repos/caspg/fasterer-github/contents/spec/fasterer-github_spec.rb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '33'
      X-Ratelimit-Reset:
      - '1442426433'
      Last-Modified:
   [...]
- request:
    method: get
    uri: https://api.github.com/repos/caspg/fasterer-github/contents/spec/spec_helper.rb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '32'
      X-Ratelimit-Reset:
      - '1442426433'
      Last-Modified:
      - Tue,[...]
